# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
./Boj/gmon.out
Boj/.cph
Boj/*.exe
AtCoder/BootcampMed/.cph
AtCoder/BootcampMed/*.bin
AtCoder/Medium 100/.cph
AtCoder/Medium 100/*.bin
AtCoder/.cph
USACO/2009Bronze/.cph
USACO/2009Sliver/.cph